
version: "3.9"

services:
  acreditaciones-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: localhost/acreditaciones-service:dev
    container_name: acreditaciones-service

    networks:
      - punto-de-venta-acc_backend

    environment:
      JAVA_TOOL_OPTIONS: "--enable-native-access=ALL-UNNAMED -Dspring.data.mongodb.uri=mongodb://mongo:27017/acreditacionesdb -Dclients.pos.base-url=http://pos-service:8080 -Dserver.port=8081"
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/acreditacionesdb
      CLIENTS_POS_BASE_URL: http://pos-service:8080
      SERVER_PORT: "8081"

    ports:
      - "8081:8081"

networks:
  punto-de-venta-acc_backend:
    external: true
