
version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: localhost/acreditaciones-service:dev

    command:
      - "java"
      - "-Dspring.data.mongodb.uri=mongodb://mongo:27017/posdb"
      - "-jar"
      - "/app/app.jar"
    container_name: acreditaciones-service
    ports:
      - "8081:8081"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8081/actuator/health | grep -E 'UP|\"status\":\"UP\"'"]
      interval: 15s
      timeout: 5s
      start_period: 20s
      retries: 10

networks:
  punto-de-venta-acc_backend:
    external: true
